resume (2).json
{
  "name": "resume",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        208
      ],
      "id": "db541642-fcc5-49c5-a302-4b85872520fd",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "814cUDOqlg0CXk2I",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "=application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "46147b63-ffae-4d73-9895-1787faeafa6d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "word"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "76a1b326-c10e-4e9b-a3c1-7edf1b14f907",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "04a81763-c2ca-4e37-b212-a6c51623a9ab",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        160,
        192
      ],
      "id": "53a09e4b-8495-4749-94ae-8945db675686",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v2/files/{{ $json.id }}/copy?convert=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        512,
        -16
      ],
      "id": "386ade11-3abb-41ac-b523-ba11179bb513",
      "name": "HTTP Request",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UMIgQANuEjOODVAN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        -16
      ],
      "id": "f728a305-92fd-4931-90b1-08274a72543d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sJg5rrN1WvbaH3a5",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1168,
        -16
      ],
      "id": "b513a91c-0f06-4918-98db-eab04c5f6332",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1m1SbtlVVlrT9H_hPIAV3WNmzymoJ9VV9",
          "mode": "list",
          "cachedResultName": "Web_Solutions_Architect.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1m1SbtlVVlrT9H_hPIAV3WNmzymoJ9VV9/view?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        208
      ],
      "id": "d3dffc21-2d73-45d4-9946-b40ffb50c06f",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sJg5rrN1WvbaH3a5",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2032,
        208
      ],
      "id": "c8e9aa94-f1c9-4913-96a0-1e785541aeef",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=candidate's resume:\n\n{{ $('Download file1').item.json.text }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Candidate Strengths:\n\n[List the strongest and most relevant qualifications the candidate demonstrates based on their resume. Be specific and tie strengths directly to the job description requirements.]\n\nCandidate Weaknesses:\n\n[List the areas where the candidate does not meet the requirements or is noticeably weaker than what the job description asks for.]\n\nRisk Factor:\n[Low / Medium / High]\n\nExplain the worst-case scenario if this candidate is hired:\n[Describe the risks, potential delivery problems, knowledge gaps, or business impact of a mis-hire.]\n\nReward Factor:\n[Low / Medium / High]\n\nDescribe the best-case scenario this candidate could unlock. What value could they deliver?\n[Explain the upside potential based on strengths and relevant experience.]\n\nDoes the candidate appear to be a short-term or long-term fit?\n[State and justify your reasoning.]\n\nOverall Fit Rating (0-10):\n[Give a whole-number rating.]\n\nJustification for Rating:\n[Explain the score by referencing specific parts of the resume and job description. Connect skills, tools, experience level, project relevance, and business context.]\n\n##job description\n\n{{ $json.text }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2400,
        208
      ],
      "id": "f3ce4b94-f6a4-4c3b-b285-8ccbc8031f28",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91139aa7-037f-4bbd-bad9-004f3674b973",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        208
      ],
      "id": "af9a7d92-3bfe-4f65-836e-2aef5ce1d1d4",
      "name": "stan"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"name\": \"resume_screening_evaluation\",\n  \"description\": \"Analyzes a candidate's resume against a job description and outputs strengths, weaknesses, risk/reward assessment, and an overall fit score.\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"candidate_strengths\": {\n      \"type\": \"array\",\n      \"description\": \"A list of specific strengths or qualifications that match the job description.\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"candidate_weaknesses\": {\n      \"type\": \"array\",\n      \"description\": \"A list of areas where the candidate falls short or lacks alignment with the job requirements.\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"risk_factor\": {\n      \"type\": \"object\",\n      \"description\": \"An evaluation of the potential risks of hiring this candidate.\",\n      \"properties\": {\n        \"score\": {\n          \"type\": \"string\",\n          \"enum\": [\"Low\", \"Medium\", \"High\"],\n          \"description\": \"The risk level of hiring this candidate.\"\n        },\n        \"explanation\": {\n          \"type\": \"string\",\n          \"description\": \"A brief explanation of the worst-case scenario if the candidate is hired.\"\n        }\n      },\n      \"required\": [\"score\", \"explanation\"]\n    },\n    \"reward_factor\": {\n      \"type\": \"object\",\n      \"description\": \"An evaluation of the potential upside of hiring this candidate.\",\n      \"properties\": {\n        \"score\": {\n          \"type\": \"string\",\n          \"enum\": [\"Low\", \"Medium\", \"High\"],\n          \"description\": \"The reward level of hiring this candidate.\"\n          },\n        \"explanation\": {\n          \"type\": \"string\",\n          \"description\": \"A description of the best-case scenario and whether the candidate is a short-term or long-term fit.\"\n        }\n      },\n      \"required\": [\"score\", \"explanation\"]\n    },\n    \"overall_fit_rating\": {\n      \"type\": \"integer\",\n      \"description\": \"A rating from 0 to 10 indicating how well the candidate matches the job description.\",\n      \"minimum\": 0,\n      \"maximum\": 10\n    },\n    \"justification_for_rating\": {\n      \"type\": \"string\",\n      \"description\": \"A summary explaining why the candidate received the specific fit rating, referencing resume and job description alignment.\"\n    }\n  },\n  \"required\": [\n    \"candidate_strengths\",\n    \"candidate_weaknesses\",\n    \"risk_factor\",\n    \"reward_factor\",\n    \"overall_fit_rating\",\n    \"justification_for_rating\"\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2544,
        512
      ],
      "id": "931ca46d-b210-4638-9184-b1ac954a6bea",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "text": "={{ $('stan').item.json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "first name",
              "description": "first name of the candidate",
              "required": true
            },
            {
              "name": "last name",
              "description": "last name of the candidate",
              "required": true
            },
            {
              "name": "email",
              "description": "email of the candidate",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        2832,
        208
      ],
      "id": "630c422f-6755-4ca4-bfc9-a63aab7258db",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13gr88i-p79klfqRVe75vy6QgZMV7qB-M4fF3U7sO6Zo",
          "mode": "list",
          "cachedResultName": "review",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gr88i-p79klfqRVe75vy6QgZMV7qB-M4fF3U7sO6Zo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gr88i-p79klfqRVe75vy6QgZMV7qB-M4fF3U7sO6Zo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{$now.format('yyyy-MM-dd hh:mm a')}}",
            "resume": "={{ $('Upload file').item.json.webViewLink }}",
            "firstname": "={{ $json.output['first name'] }}",
            "lastname": "={{ $json.output['last name'] }}",
            "email": "={{ $json.output.email }}",
            "strength": "={{ \n$(\n  'AI Agent'\n).item.json.output.candidate_strengths.join('\\n\\n')\n}}\n",
            "weakness": "={{ $('AI Agent').item.json.output.candidate_weaknesses.join('\\n\\n') }}\n",
            "riskfactor": "={{ $('AI Agent').item.json.output.risk_factor.score }}\n\n{{ $('AI Agent').item.json.output.risk_factor.explanation }}",
            "rewardfactor": "={{ $('AI Agent').item.json.output.reward_factor.score }}\n\n{{ $('AI Agent').item.json.output.reward_factor.explanation }}",
            "overallfit": "={{ $('AI Agent').item.json.output.overall_fit_rating }}",
            "justification": "={{ $('AI Agent').item.json.output.justification_for_rating }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume",
              "displayName": "resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "firstname",
              "displayName": "firstname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastname",
              "displayName": "lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "strength",
              "displayName": "strength",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weakness",
              "displayName": "weakness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "riskfactor",
              "displayName": "riskfactor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rewardfactor",
              "displayName": "rewardfactor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "overallfit",
              "displayName": "overallfit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justification",
              "displayName": "justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3328,
        208
      ],
      "id": "d4e165b3-b1b5-4d9b-ad23-3a309cf1e2bf",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BvMTUCpO1hiISP0M",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        528,
        208
      ],
      "id": "f6166bce-ad8c-448a-994a-a0446a528b3d",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sJg5rrN1WvbaH3a5",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        864,
        208
      ],
      "id": "4d814509-7dad-47fc-b05f-6fbac2b098be",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        528,
        448
      ],
      "id": "9b5d26cb-d6b1-4633-a18a-c74ec7cf0de6",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sJg5rrN1WvbaH3a5",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        864,
        448
      ],
      "id": "66605ff6-a801-4e12-b82c-cd498f19a21c",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "={{ $json.subject }} Resume",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        208
      ],
      "id": "c5c6b86d-0aff-40c5-9d63-7f9a2627ecf0",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sJg5rrN1WvbaH3a5",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.overall_fit_rating }}",
                    "rightValue": 7,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "8dea0860-74c4-4c3a-bc3b-fc46073893b2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "separate"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2928,
        496
      ],
      "id": "7f8a7097-b6a3-4816-aeaa-3a618a0aaabe",
      "name": "Switch1"
    },
    {
      "parameters": {
        "chatId": "6558449447",
        "text": "=🚀 Strong Candidate Detected!\n\n🏅 Fit Rating: {{ $('AI Agent').item.json.output.overall_fit_rating }}/10\n\n💡 Key Strengths:\n{{ $('AI Agent').item.json.output.candidate_strengths.join('\\n') }}\n\n\n\n⏰ Timestamp: {{$now.format('yyyy-MM-dd HH:mm')}}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3280,
        496
      ],
      "id": "1e038839-dd86-434e-9d8f-bbfb6146648a",
      "name": "Send a text message",
      "webhookId": "2a3c7bdf-557e-4966-beb1-0babfa14121e"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2256,
        416
      ],
      "id": "991444b9-3373-4ab8-8610-a9d96d1051cc",
      "name": "kii",
      "credentials": {
        "googlePalmApi": {
          "id": "pOZZRctNE4H2i1zQ",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=candidate's resume:\n\n{{ $('Download file2').item.json.text }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Extract the following from the resume text. \nReturn ONLY valid JSON:\n\n{\n  \"name\": \"string\",\n  \"email\": \"string\",\n  \"phone\": \"string\",\n  \"linkedin\": \"string\",\n  \"skills\": [\"string\"]\n}\n\nRules:\n- Detect phone even if formatted\n- Detect LinkedIn URLs or text\n- Extract technical + soft skills\n- If missing, infer or set \"\"\n- Output only JSON, no explanations\n\n{{ $json.text }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1360,
        752
      ],
      "id": "b9a6bf20-b8da-490f-8d2e-8fac3990499c",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1264,
        992
      ],
      "id": "23d128b8-787d-4622-a70c-9abc598f0442",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pOZZRctNE4H2i1zQ",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"name\": \"string\",\n  \"email\": \"string\",\n  \"phone\": \"string\",\n  \"linkedin\": \"string\",\n  \"skills\": [\"string\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1520,
        1008
      ],
      "id": "a89d5971-045a-4c24-841f-4e37e6e27643",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "text": "={{ $('stan').item.json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "first name",
              "description": "first name of the candidate",
              "required": true
            },
            {
              "name": "last name",
              "description": "last name of the candidate",
              "required": true
            },
            {
              "name": "email",
              "description": "email of the candidate",
              "required": true
            },
            {
              "name": "phone",
              "type": "number",
              "description": "phone number of the candidate",
              "required": true
            },
            {
              "name": "skill",
              "description": "=skill of the person {{ $json.output.skills }}"
            },
            {
              "name": "linkedin",
              "description": "linkedin id of user"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1904,
        752
      ],
      "id": "89bab822-2df2-4bf8-9360-8280abbfef10",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13gr88i-p79klfqRVe75vy6QgZMV7qB-M4fF3U7sO6Zo",
          "mode": "list",
          "cachedResultName": "review",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gr88i-p79klfqRVe75vy6QgZMV7qB-M4fF3U7sO6Zo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1920191254,
          "mode": "list",
          "cachedResultName": "person details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gr88i-p79klfqRVe75vy6QgZMV7qB-M4fF3U7sO6Zo/edit#gid=1920191254"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.output['first name'] }}{{ $json.output['last name'] }}",
            "Email": "={{ $json.output.email }}",
            "Phone": "={{ $json.output.phone }}",
            "LinkedIn": "={{ $json.output.linkedin }}",
            "Skills": "={{ $('AI Agent1').item.json.output.skills }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2304,
        752
      ],
      "id": "9345f163-1162-4d9a-acd9-722e8afeeb7c",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BvMTUCpO1hiISP0M",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function findLink(obj) {\n  const jsonStr = JSON.stringify(obj);\n\n  // direct or escaped URL\n  let match = jsonStr.match(/https?:\\/\\/[^\\s\"\\\\]+/);\n  if (match) return match[0];\n\n  // base64 decode body parts\n  if (obj?.payload?.parts) {\n    for (const part of obj.payload.parts) {\n      if (part?.body?.data) {\n        try {\n          const decoded = Buffer.from(part.body.data, 'base64').toString('utf8');\n          const linkMatch = decoded.match(/https?:\\/\\/[^\\s\"\\\\]+/);\n          if (linkMatch) return linkMatch[0];\n        } catch (e) {}\n      }\n    }\n  }\n\n  return null;\n}\n\nconst link = findLink($json);\n\nreturn {\n  json: {\n    link,\n    debug: link ? undefined : JSON.stringify($json)\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        1200
      ],
      "id": "913bdb8d-00c2-4430-aaf1-25f97f07b885",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "hackathon"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        1200
      ],
      "id": "75f0d803-8d05-43a4-9c22-18a90b2bf6b3",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "814cUDOqlg0CXk2I",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        1200
      ],
      "id": "3e1470a1-f7f1-4073-93a6-1a94b14ef84e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Hackathon Data Extraction AI.\n\nHere is the HTML source of a hackathon page:\n{{ $json[\"data\"] }}\n\nThe hackathon link is:\n{{ $('Code in JavaScript').item.json.link }}\n\nYour task is to extract structured information and fill the JSON schema exactly.\n\nRules:\n- infer skills required based on keywords (design, AI, coding, IoT, UX, etc)\n- infer difficulty as one of: Easy, Medium, Hard\n- if date or prize is missing, set \"Not specified\"\n\nYou must follow the Output Parser schema and output ONLY valid JSON.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        128,
        1200
      ],
      "id": "78659e0d-788a-4a13-8d16-480e13044b72",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        1408
      ],
      "id": "0407c0b1-8ade-445a-b9e8-74d8246451de",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "pOZZRctNE4H2i1zQ",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": { \"type\": \"string\" },\n    \"skills_required\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"difficulty\": {\n      \"type\": \"string\",\n      \"enum\": [\"Easy\", \"Medium\", \"Hard\"]\n    },\n    \"description\": { \"type\": \"string\" },\n    \"date\": { \"type\": \"string\" },\n    \"prize\": { \"type\": \"string\" },\n    \"platform\": { \"type\": \"string\" },\n    \"link\": { \"type\": \"string\" }\n  },\n  \"required\": [\n    \"name\",\n    \"skills_required\",\n    \"difficulty\",\n    \"description\",\n    \"date\",\n    \"prize\",\n    \"platform\",\n    \"link\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        304,
        1408
      ],
      "id": "09c7322e-e069-4dbd-806d-3e8ead8cd551",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13gr88i-p79klfqRVe75vy6QgZMV7qB-M4fF3U7sO6Zo",
          "mode": "list",
          "cachedResultName": "review",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gr88i-p79klfqRVe75vy6QgZMV7qB-M4fF3U7sO6Zo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 411270694,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gr88i-p79klfqRVe75vy6QgZMV7qB-M4fF3U7sO6Zo/edit#gid=411270694"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.output.name }}",
            "Skills": "={{ $json.output.skills_required }}",
            "Difficulty": "={{ $json.output.difficulty }}",
            "Date": "={{ $json.output.date }}",
            "Description": "={{ $json.output.description }}",
            "Prize": "={{ $json.output.prize }}",
            "Platform": "={{ $json.output.platform }}",
            "Link": "={{ $json.output.link }}"
          },
          "matchingColumns": [
            " "
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Difficulty",
              "displayName": "Difficulty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prize",
              "displayName": "Prize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        1200
      ],
      "id": "2b3af369-41b8-49c5-8c64-f1d87a75526b",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BvMTUCpO1hiISP0M",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "for generating hackathon link\n",
        "height": 592,
        "width": 1504
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -592,
        1056
      ],
      "id": "86ab5462-9caa-464b-8c57-7d2919f02625",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "for personal information\n",
        "height": 448,
        "width": 1408,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1168,
        704
      ],
      "id": "4d4fa600-8f33-4bd8-a26d-5deff6851615",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3056,
        1168
      ],
      "id": "176f0352-9a5c-44c5-8eca-3756b563c382",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13gr88i-p79klfqRVe75vy6QgZMV7qB-M4fF3U7sO6Zo",
          "mode": "list",
          "cachedResultName": "review",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gr88i-p79klfqRVe75vy6QgZMV7qB-M4fF3U7sO6Zo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gr88i-p79klfqRVe75vy6QgZMV7qB-M4fF3U7sO6Zo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3264,
        1168
      ],
      "id": "493018b7-5d29-464c-823b-b445d42162ad",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BvMTUCpO1hiISP0M",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13gr88i-p79klfqRVe75vy6QgZMV7qB-M4fF3U7sO6Zo",
          "mode": "list",
          "cachedResultName": "review",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gr88i-p79klfqRVe75vy6QgZMV7qB-M4fF3U7sO6Zo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 411270694,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gr88i-p79klfqRVe75vy6QgZMV7qB-M4fF3U7sO6Zo/edit#gid=411270694"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3472,
        1168
      ],
      "id": "a85a5f34-0563-4340-855b-a69dcce2d25b",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BvMTUCpO1hiISP0M",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3760,
        1168
      ],
      "id": "8ca95811-6330-4118-b5d4-aec24c2697bd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        3872,
        1456
      ],
      "id": "6f9f1a23-0dc7-4435-9a1b-e82009b253df"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze the provided hackathon against the user's interests. Return the results in the requested JSON format. Do not add any conversational text like 'Here is your result",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3968,
        1072
      ],
      "id": "ebdb7791-9e69-416b-8f5c-55e47ed86ef8",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3984,
        1296
      ],
      "id": "29ad94ff-258a-4b97-9879-812292ffee95",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "pOZZRctNE4H2i1zQ",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": 85,\n  \"reasoning\": \"This hackathon matches the user's focus on AI and fintech.\",\n  \"recommended_action\": \"Apply immediately\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4144,
        1280
      ],
      "id": "b5c15a0d-57f9-491a-8289-dc11b24c4f6c",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "content": "to campare the user and hackathon ",
        "height": 832,
        "width": 1600,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2928,
        944
      ],
      "id": "e3aa71f5-7ffc-4c4d-879f-1fb2929ea813",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4320,
        1072
      ],
      "id": "5f5c3482-0846-45fe-af49-1ac8641cf0b9",
      "name": "Append row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "buxfewqO6nA08zce",
          "name": "ytai1"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "stan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stan": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "stan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "stan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kii": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Append row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6b0ebd7e-fe51-418c-9208-ac21a43fdd22",
  "meta": {
    "instanceId": "17e40681c772b509b30aef83269134b15b6ff5d23484c616ebb04d5628e25576"
  },
  "id": "fOcQSRuQxfIvdeME",
  "tags": []
}